<section class="w-screen flex flex-row justify-between items-center px-2">
    <article class="flex items-center gap-2">
        <img src="assets/icons/avatar.svg" alt="user">
        <p>User0001</p>
      </article>
      <button>
        <img src="assets/setting_cogwheel_icon_231265.png" alt="exit" class="w-6">
      </button>
    </section>
   <!--  <article class="flex items-center gap-0">
      <span></span>
      <p>1000</p>
      <img src="assets/icons/coin-hr.png" alt="user" class="w-6">
    </article> -->