<section class="min-h-screen flex flex-col justify-center items-center w-full overflow-hidden bgcd">
    <div class="w-full">
        <button routerLink="../" class="p-1 inline-flex items-center gap-2">
            <img src="assets/icons/back.png" alt="previus" class="w-8">
            Back
        </button>
        <div class="w-full py-2 flex justify-between items-center px-4 gap-1">
            <app-level [progress]="70" [gradientColors]="['#702c8e', '#a245d3']" />
            <app-per-hour />
        </div>
    </div>

    <app-balance />
    <app-nav class="w-full mb-2" />
    <div class="grid grid-cols-2 gap-4 p-2">
        @for (i of [1,2,3,4,5,6,7,8,9,0,1,2,3,4]; track $index) {
        <app-product />
        }
    </div>
</section>