<section class="min-h-screen flex flex-col justify-center items-center w-full overflow-hidden bg-black">
    <div class="w-full flex flex-col gap-0 justify-center">
        <button routerLink="../" class="p-1 inline-flex items-center gap-2">
            <img src="assets/icons/back.png" alt="previus" class="w-8">
            Back
        </button>
        <div class="w-full -mt-2 mb-5 flex justify-between items-center px-4 gap-1">
            <app-level [progress]="70" [gradientColors]="['#490e4b', '#781f7a', '#a044a6']" />
            <app-per-hour />
        </div>
    </div>

    <div class="w-full rounded-tl-3xl rounded-tr-3xl bgcd border-t-4 border-[#a005a5] bs-out">
        <app-balance />
        <!-- <app-toast /> -->
        <app-nav class="w-full my-2" />
        <div class="grid grid-cols-2 gap-4 p-2">
            @for (i of [1,2,3,4,5,6,7,8,9,0,1,2,3,4]; track $index) {
            <app-product />
            }
        </div>
    </div>
</section>