<section class="flex flex-col justify-center items-center gap-2 w-[95%]">
    <article class="flex justify-center items-center gap-1">
        <img src="assets/common/energy.svg" alt="icon" class="w-6 h-auto">
        <p>
            <span>457</span>
            <span class="text-sm">/500</span>
        </p>
    </article>
    
  <div class="w-full bg-[#3b3049] rounded-full p-1 ring-1 ring-[#8b8494]">
    <div class="bg-[#E5982C] text-xs font-medium text-blue-100 text-center p-2 leading-none rounded-full" style="width: 70%"></div>
  </div>

</section>

<section class="flex flex-row justify-between items-center gap-2 text-sm">
    <div
        class="w-1/5 bg-[#3b3049] ring-1 ring-[#8b8494] rounded-lg py-2 px-3 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/ref.svg" alt="icon" class="w-10 h-auto">
        Ref
    </div>
    <div
        class="w-1/5 bg-[#3b3049] ring-1 ring-[#8b8494] rounded-lg py-2 px-3 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/tasks.svg" alt="icon" class="w-10 h-auto">
        Tasks
    </div>
    <div
        class="w-1/5 bg-[#3b3049] ring-1 ring-[#8b8494] rounded-lg py-2 px-3 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/tap.svg" alt="icon" class="w-10 h-auto">
        Tap
    </div>
    <div
        class="w-1/5 bg-[#3b3049] ring-1 ring-[#8b8494] rounded-lg py-2 px-3 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/shop.png" alt="icon" class="w-10 h-auto">
        Shop
    </div>
    <div
        class="w-1/5 bg-[#3b3049] ring-1 ring-[#8b8494] rounded-lg py-2 px-3 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/mining.png" alt="icon" class="w-10 h-auto">
        Mining
    </div>
</section>