<section class="fixed bottom-0 flex flex-row justify-between items-center gap-2 text-sm bg-[#3d0d3f] w-screen">
    <div class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-center">
        <img src="assets/actions/ref.svg" alt="icon" class="w-8 h-auto">
        Ref
    </div>
    <div class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-center">
        <img src="assets/actions/tasks.svg" alt="icon" class="w-8 h-auto">
        Tasks
    </div>
    <div class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-center">
        <img src="assets/actions/tap.svg" alt="icon" class="w-8 h-auto">
        Tap
    </div>
    <div class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-center">
        <img src="assets/actions/shop.png" alt="icon" class="w-8 h-auto">
        Shop
    </div>
    <div class="w-1/5 py-1 px-2 text-center flex flex-col items-center justify-center">
        <img src="assets/actions/mining.png" alt="icon" class="w-8 h-auto">
        Mining
    </div>
</section>