<div class="fixed bottom-0 flex flex-col gap-4">
    <section class="flex justify-between items-center gap-2 w-[95%]">
        <article class="flex justify-center items-center gap-0">
            <img src="assets/icons/thunder.png" alt="icon" class="w-9 h-auto">
            <p>
                <span>457</span>
                <span class="text-sm">/500</span>
            </p>
        </article>
    
        <button class="inline-flex items-center">
            <img src="assets/icons/rocket.png" alt="rocket" class="w-8 ml-2">
            Impulsar
        </button>
    </section>
    
    <section class="flex flex-row justify-between items-center gap-2 text-sm bg-[#3d0d3f] w-screen p-1">
        <div
            class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-between">
            <img src="assets/actions/ef.svg" alt="icon" class="w-10 h-auto">
            Ref
        </div>
        <div
            class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-between">
            <img src="assets/actions/asks.svg" alt="icon" class="w-10 h-auto">
            Tasks
        </div>
        <div
            class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-between">
            <img src="assets/actions/ap.svg" alt="icon" class="w-10 h-auto">
            Tap
        </div>
        <div
            class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-between">
            <img src="assets/actions/hop.png" alt="icon" class="w-10 h-auto">
            Shop
        </div>
        <div
            class="w-1/5 py-2 px-3 text-center flex flex-col items-center justify-between">
            <img src="assets/actions/ining.png" alt="icon" class="w-10 h-auto">
            Mining
        </div>
    </section>
    
</div>



