<div class="text-white rounded-lg border border-white shadow-md overflow-hidden w-40 px-1 mx-auto">
    <div class="flex items-center gap-3 w-full">
        <img src="assets/products/4.png" alt="Pizzería" class="w-1/2">
        <div class="text-xxs">
            <h2 class="text-sm font-bold">Pizzería</h2>
            <p class="">+2,195/día</p>
            <p class="">+91,46/hora</p>
            <p class="">+41,462/total</p>
        </div>
    </div>
    <div class="border-t-2 border-white"></div>
    <div class="flex justify-between items-center p-2">
        <p class="text-sm">Nvl 0</p>
        <div class="border-r-2 border-white"></div>
        <p class="text-sm">25,000</p>
    </div>
</div>