<div class="bg-[#4a144dd7] text-white rounded-lg overflow-hidden shadow-2xl p-0 w-40 mx-auto">
    <div class="flex items-center gap-3 w-full px-2">
        <img src="assets/products/1.png" alt="Pizzería" class="w-1/2">
        <div class="text-xxs">
            <h2 class="text-sm font-bold">Pizzería</h2>
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">
                +2,195/día
            </p>
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">+91,46/hora
            </p>
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">+41,462/total
            </p>
        </div>
    </div>
    <button class="w-full bg-[#3D0D3F] text-center">Comprar</button>
    <!-- <div class="border-t-2 border-white"></div>
    <div class="flex justify-around items-center py-2">
        <p class="text-sm">Nvl 0</p>
        <div class="h-6 border-l-2 border-white -my-2"></div>
        <span class="flex items-center gap-1">
            <img src="assets/coins/coin-1.png" alt="coin" class="w-4">
            <p class="text-sm"> 25,000</p>
        </span>
    </div> -->
</div>