<div class="bg-[#4a144dd7] text-white rounded-lg overflow-hidden shadow-2xl p-0 w-40 mx-auto">
    <div class="flex items-center gap-3 w-full px-2">
        <img src="assets/products/1.png" alt="Pizzería" class="w-1/2">
        <div class="text-xxs">
            <h2 class="text-sm font-bold">Pizzería</h2>
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">
                +2,195/día
            </p>
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">+91,46/hora
            </p>
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">+41,462/total
            </p>
        </div>
    </div>
    <button (click)="openModal()"
        class="w-full bg-[#3D0D3F] text-center transition-transform duration-300 ease-in-out active:scale-125">
        Comprar
    </button>
</div>

<div class="bg-[#4a144dd7] text-white rounded-lg overflow-hidden shadow-2xl p-0 w-40 mx-auto mt-2">
    <div class="flex flex-col items-center w-full px-2 py-2">
        <h2 class="text-sm font-bold">Pizzería</h2>
        <img src="assets/products/1.png" alt="Pizzería" class="w-1/2">
        <div class="text-xxs">
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">
                +2,195/día
            </p>
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">+91,46/hora
            </p>
            <p class="flex items-center">
                <img src="assets/icons/sm-coin.png" alt="coin" class="w-4">+41,462/total
            </p>
        </div>
    </div>
    <button (click)="openModal()"
        class="w-full bg-[#3D0D3F] text-center transition-transform duration-300 ease-in-out active:scale-125">
        Comprar
    </button>
</div>