<section class="flex flex-row justify-between items-center text-xs bg-[#3d0d3f]">
    <button class="w-1/5 py-2  text-center flex flex-col items-center justify-center">
        <img src="assets/actions/home.svg" alt="icon" class="w-6 h-auto">
        Principal
    </button>
    <button class="w-1/5 py-1  text-center flex flex-col items-center justify-center">
        <img src="assets/actions/invest.png" alt="icon" class="w-6 h-auto">
        Inversión
    </button>
    <button class="w-1/5 py-1  text-center flex flex-col items-center justify-center">
        <img src="assets/actions/friend.png" alt="icon" class="w-6 h-auto">
        Amigos
    </button>
    <button class="w-1/5 py-1  text-center flex flex-col items-center justify-center">
        <img src="assets/actions/mociones.svg" alt="icon" class="w-6 h-auto">
        Mociones
    </button>
    <button class="w-1/5 py-1  text-center flex flex-col items-center justify-center">
        <img src="assets/actions/wallet.png" alt="icon" class="w-6 h-auto">
        Cartera
    </button>
</section>