<section class="w-screen overflow-hidden flex justify-between items-stretch text-center gap-2 bs-inset p-4 ">
    <div
        class="w-1/3 bs bg-[#4c104e] ring-1 ring-[#8b8494] rounded-lc py-1 px-2 text-center flex flex-col items-center justify-center">
        <img src="assets/buttons/daily.png" alt="retirar" class="w-10 h-10 object-contain">
        <span class="text-xs roboto-regular">Misión diaria</span>
    </div>
    <div
        class="w-1/3 bs bg-[#4c104e] ring-1 ring-[#8b8494] rounded-cc py-1 px-2 text-center flex flex-col items-center justify-center">
        <img src="assets/buttons/invertir.png" alt="invertir" class="w-10 h-10 object-contain">
        <span class="text-xs roboto-regular">Invertir</span>
    </div>
    <div
        class="w-1/3 bs bg-[#4c104e] ring-1 ring-[#8b8494] rounded-rc py-1 px-2 text-center flex flex-col items-center justify-center">
        <img src="assets/buttons/recargar.png" alt="recargar" class="w-11 h-11 -m-1 object-contain">
        <span class="text-xs roboto-regular">Recargar cuenta</span>
    </div>

</section>