.bs-inset {
    -webkit-box-shadow: inset 0px 15px 7px -7px rgb(160, 5, 165);
    -moz-box-shadow: inset 0px 15px 7px -7px    rgb(160, 5, 165);
    box-shadow: inset 0px 15px 7px -7px rgb(160, 5, 165);
}

.rounded-lc {
    border-radius: 20px 10px 20px 20px;
    -moz-border-radius: 20px 10px 20px 20px;
    -webkit-border-radius: 20px 10px 20px 20px;
    border: 0px solid #ffffff;
}

.rounded-cc {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #ffffff;
}

.rounded-rc {
    border-radius: 10px 20px 20px 20px;
    -moz-border-radius: 10px 20px 20px 20px;
    -webkit-border-radius: 10px 20px 20px 20px;
    border: 0px solid #ffffff;
}